Package: com.cabralcole.lowpowermode
Name: LowPowerMode
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Low power mode always on.
Maintainer: cabralcole
Author: cabralcole
Section: Tweaks
